<div class="container">
<div class="container">
  <h1>Welcome to Pixabay</h1>
<br><br>

<form class="form-horizontal">
  <div class="form-group">
        <div class="col-sm-8">
      <input type="text" class="form-control" id="Search" placeholder="Search any images for free" name="search" [(ngModel)]="search">
         </div>
      <button type="submit" class="btn btn-primary" (click)="onClick(search)">Search</button>
  </div>
  </form>
</div>
</div>

<!--<div class="container-fluid">
  <div class="row">
    <div class="image col-md-6" *ngFor="let Image of data?.hits">
      <div class="wrap">

        <img src="{{Image.webformatURL}}" />
        {{Image.user}}
      </div>
    </div>
  </div>
</div>-->

<div class="container mt40">
    <section class="row">

        <article class="image col-md-6"   *ngFor="let Image of data?.hits" >
            <div class="panel panel-default" >
                    <img src="{{Image.webformatURL}}" align="middle"/>
                <div class="panel-footer">
                    
                    <span class="pull-right">
                      <h4>{{Image.user}}</h4>
                  </span>
                </div>
            </div>
        </article>
        </section>
        </div>